
def WORKSPACE_BUCKET_GWAS_MIGRAINE="gs://fc-secure-9a611390-ad15-4113-99db-93bd4a7b4bf4"

params {
  ticket = "BID-XXXX"
  ancestry = "EUR"
  model = "A"
  burden = true
  assoctype = burden == true ? "burden" : "FULL"
  study_name = "A${ancestry[0..1]}_AllOfUs_V8_burden_${ancestry}"

  outdir = "${WORKSPACE_BUCKET}/results/${study_name}"
  phenotypes_files = "${WORKSPACE_BUCKET}/phenotypes_split/*.tsv"
  phenotypes_counts = "${WORKSPACE_BUCKET}/phenotype_counts.tsv"
  num_phenotypes_per_file = 20
  phenotypes_binary_trait = true
  trait_type = phenotypes_binary_trait == true ? "cc" : "qtl"
  
  covariates_file = "${WORKSPACE_BUCKET_GWAS_MIGRAINE}/covariates.tsv"
  
  // array data
  // EUR

  if (model == "A") {
      suffix = ""
    }
  else if (model == "AX") {
      suffix = "_female"
    }
  else {
      suffix = "_male"
    }

  genotypes_array = "${WORKSPACE_BUCKET_GWAS_MIGRAINE}/arrays/${ancestry}/arrays_${ancestry}_qcfiltered${suffix}.{bed,bim,fam}"
  plink_mac = 5 // filter variants with MAC < 5 per phenotype file
  plink_maf = 0.01 // filter variants with MAF < 0.01 per phenotype file
  genotypes_array_chunks = 10

  // imputed bgen data
  // exome
  genotypes_bgen = "${WORKSPACE_BUCKET_GWAS_MIGRAINE}/split_bgen/*.bgen"
  sample_file = "${WORKSPACE_BUCKET_GWAS_MIGRAINE}/split_bgen/chr1.sample"
  
  regenie_test        = 'additive'
  regenie_bsize_step1 = 1000
  regenie_bsize_step2 = 400
  regenie_firth       = true
  regenie_firth_approx = true

  // burden annotation
  regenie_gene_masks                    = "${WORKSPACE_BUCKET_GWAS_MIGRAINE}/burden/masks.tsv"
  regenie_gene_setlist                  = "${WORKSPACE_BUCKET_GWAS_MIGRAINE}/burden/set_list.tsv"
  regenie_gene_anno                     = "${WORKSPACE_BUCKET_GWAS_MIGRAINE}/burden/annotation.tsv"

  regenie_gene_aaf     = "0.001,0.02"
}




process {
    withName: 'RegenieStep1.*' {
        cpus = 4
        memory = 16.GB
        scratch = true
        //machineType = 'n2-standard-4'
        //disk = '500GB'
    }

    withName: 'RegenieStep1_L1' {
        cpus = 8
        memory = 12.GB


    }

    withName: 'RegenieStep2.*' {
        cpus = 4
        memory = 8.GB
        scratch = true
        //machineType = 'n2-standard-2'
        //disk = '500GB'
    }

    withName: 'MergePerPhenotype' {
        cpus = 1
        memory = 2.GB
        scratch = true
        //machineType = 'n2-standard-2'
    }
}


profiles {
    
   spot {
        google.batch.spot = true
        google.batch.maxSpotAttempts = 3
        errorStrategy = { task.exitStatus == 50001 ? 'retry' : 'finish'}
        maxRetries = 3
   }

}


// includeConfig 'conf/aou_burden.config'

process.container = "${ARTIFACT_REGISTRY_DOCKER_REPO}/florianzink/nf-gwas-gcloud:v0.3"
