params {
  project = 'phecodeX_EUR_burden_split'
  outdir = "${WORKSPACE_BUCKET}/results/phecodeX_EUR_burden_split"
  //genotypes_array = "${WORKSPACE_BUCKET}/arrays/EUR/arrays_EUR_test.{bed,bim,fam}"
  genotypes_array = "${WORKSPACE_BUCKET_GWAS_MIGRAINE}/arrays/EUR/arrays_EUR_qcfiltered.{bed,bim,fam}"
  genotypes_array_chunks = 10
  genotypes_bgen = "${WORKSPACE_BUCKET}/bgen/exome/*.bgen"
  sample_file = "${WORKSPACE_BUCKET}/bgen/exome/chr1.sample"
  phenotypes_files = "${WORKSPACE_BUCKET}/phenotypes_split/*.tsv"
  num_phenotypes_per_file = 10
  phenotypes_binary_trait = true
  covariates_file = "${WORKSPACE_BUCKET_GWAS_MIGRAINE}/covariates.tsv"

  regenie_test        = 'additive'
  regenie_bsize_step1 = 1000
  regenie_bsize_step2 = 400
  regenie_firth       = false
  regenie_firth_approx = false

  regenie_gene_masks                    = "${WORKSPACE_BUCKET_GWAS_MIGRAINE}/burden/masks.tsv"
  regenie_gene_setlist                  = "${WORKSPACE_BUCKET_GWAS_MIGRAINE}/burden/set_list.tsv"
  regenie_gene_anno                     = "${WORKSPACE_BUCKET_GWAS_MIGRAINE}/burden/annotation.tsv"

  regenie_gene_aaf     = "0.001,0.02"
}




process {
    withName: 'RegenieStep1.*' {
        cpus = 4
        memory = 16.GB
        scratch = true
        //machineType = 'n2-standard-4'
        //disk = '500GB'
    }

    withName: 'RegenieStep1_L1' {
        cpus = 8
        memory = 12.GB


    }

    withName: 'RegenieStep2.*' {
        cpus = 4
        memory = 8.GB
        scratch = true
        //machineType = 'n2-standard-2'
        //disk = '500GB'
    }

    withName: 'MergePerPhenotype' {
        cpus = 1
        memory = 2.GB
        scratch = true
        //machineType = 'n2-standard-2'
    }
}


profiles {
    
   spot {
        google.batch.spot = true
        google.batch.maxSpotAttempts = 3
        errorStrategy = { task.exitStatus == 50001 ? 'retry' : 'finish'}
        maxRetries = 3
   }

}


// includeConfig 'conf/aou_burden.config'

process.container = "${ARTIFACT_REGISTRY_DOCKER_REPO}/florianzink/nf-gwas-gcloud:v0.3"
