profiles {
  gcb {
      process.executor = "google-batch"
      process.container = "florianzink/nf-gwas-gcloud:v0.3"
      workDir = "gs://workspace-bucket-wb-radiant-cabbage-3726/workflows/nextflow-scratch"

      google.location = "us-central1"
      google.project = "wb-radiant-cabbage-3726"
      google.enableRequesterPaysBuckets = true
      google.batch.debug = true
      google.batch.serviceAccountEmail = "pet-2766351527027c086ac5d@wb-radiant-cabbage-3726.iam.gserviceaccount.com"
      google.batch.network = "global/networks/network"
      google.batch.subnetwork = "regions/us-central1/subnetworks/subnetwork"
      google.batch.usePrivateAddress = true
      google.batch.copyImage = "gcr.io/google.com/cloudsdktool/cloud-sdk:alpine"
      google.batch.bootDiskSize = "500.GB"
  }
}
